/* Search bar div */
.container {
    padding: 40px;
    margin: 10px 20px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
}

/* Search bar -- from night-app -- */

#search-bar {
    width: 60px;
    border-radius: 25px;
    background-image: url('/imgs/search.png');
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-position: 15px 6px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 14px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    transition: background-position 0.4s ease-in-out;
    position: absolute;
    cursor: pointer;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#search-bar:focus {
    background-position: 5px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
    outline: none;
    cursor: text;
    text-align: center;
    transition: background-position 0.4s ease-in-out;
}

::-webkit-input-placeholder {
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}

/* Pins div */
#pins-div {
    text-align: center;
}

#pins-div h1 {
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px 20px;
    text-transform: uppercase;
}

#pins {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 15px;
    width: 87%;
    
    background-color: white;
    overflow: auto;
}

/* Masonry.js */
#container {
    position: relative;
    margin: 20px auto;
    overflow: auto;
    min-width: 310px;
}

.block {
    width: 190px;
    padding: 10px;
    float: left;
    margin: 2px 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: black;
}

.block-img {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 460px) {
    #pins {
        padding: 5px;
    }
    
    #container {
        margin: 10px auto;
    }
    
    .block {
        width: 110px;
    }
}